---
headerTitle: Adversiting
layout: base.html
version: 1.0.0
---
<div class="container">
  <div>
    <h2>Smiles - Adversiting</h2>

    <div class="smls-adversiting card header">
      <div class="card-body"> 
        <div class="content">
          <i class="material-icons">face</i>
          <span>A simple text</span>
        </div>
        <i class="material-icons">&#xe5cd</i>
      </div>
    </div>

    <br>
    
    <div class="smls-adversiting card button">
     <div class="card-body"> 
        <div class="content">
          <i class="material-icons">face</i>
          <span>A simple text</span>
        </div>
        <i class="material-icons">&#xe5cd</i>
      </div>
    </div>

    <br>

    <div class="smls-adversiting card button elevation">
      <div class="card-body"> 
        <div class="content">
          <i class="material-icons">face</i>
          <span>A simple text</span>
        </div>
        <i class="material-icons">&#xe5cd</i>
      </div>
    </div>
    
  </div>
</div>
