---
headerTitle: Badges
layout: base.html
version: 1.0.0
---
<div class="container">
	<h2>Smiles - Badges</h2>

  <br/>
  
	<div class="badge primary">
		<span>Tag</span>
  </div> <br/>

	<div class="badge secondary">
		<span>Tag</span>
  </div> <br/>

  <div style="padding: 20px; background-color: #000;">
    <div class="badge dark">
      <span>Tag</span>
    </div>
  </div> <br/>

  <div class="badge primary">
    <i class="material-icons">fiber_manual_record</i>
		<span>Tag</span>
  </div> <br/>

	<div class="badge secondary">
    <i class="material-icons">fiber_manual_record</i>
		<span>Tag</span>
  </div> <br/>

  <div style="padding: 20px; background-color: #000;">
    <div class="badge dark">
      <i class="material-icons">fiber_manual_record</i>
      <span>Tag</span>
    </div>
  </div> <br/>

</div>