---
headerTitle: Buttons
layout: base.html
version: 1.0.0
---
<div class="container">
  <div>

    <h2>Smiles - Buttons</h2>

    <div>
      <h2>Text</h2>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary" disabled>Primary disabled</button>

      <h2>Text (dark)</h2>
      <button type="button" class="btn btn-primary dark">Primary dark</button>
      <button type="button" class="btn btn-primary dark" disabled>Primary dark disabled</button>
    </div>


    <br><hr><br>

    <h2>Smiles Buttons - color card</h2>

    <div>
      <h2>Text</h2>
      <button type="button" class="btn color-card btn-primary">Primary</button>
      <button type="button" class="btn color-card btn-primary" disabled>Primary disabled</button>

      <h2>Text (dark)</h2>
      <button type="button" class="btn color-card btn-primary dark">Primary dark</button>
      <button type="button" class="btn color-card btn-primary dark" disabled>Primary dark disabled</button>
    </div>

    <br><hr><br>

    <div>
      <h2>Text + Icon</h2>

      <button type="button" class="btn btn-primary">
        <i class="material-icons">&#xe5cd</i>
        Primary + Icon
      </button>
      <button type="button" class="btn btn-primary" disabled>
        <i class="material-icons">&#xe5cd</i>
        Primary + Icon disabled
      </button>

      <h2>Text + Icon (dark)</h2>
      <button type="button" class="btn btn-primary dark">
        <i class="material-icons">&#xe5cd</i> Primary + Icon
      </button>
      <button type="button" class="btn btn-primary dark" disabled>
        <i class="material-icons">&#xe5cd</i>
        Primary + Icon disabled
      </button>
    </div>

    <div>
      <h2>Icon</h2>
      <button type="button" class="btn btn-primary btn-icon">
        <i class="material-icons">&#xe5cd</i>
      </button>
      <button type="button" class="btn btn-primary btn-icon" disabled>
        <i class="material-icons">&#xe5cd</i>
      </button>

      <h2>Icon (dark)</h2>
      <button type="button" class="btn btn-primary btn-icon dark">
        <i class="material-icons">&#xe5cd</i>
      </button>
      <button type="button" class="btn btn-primary btn-icon dark" disabled>
        <i class="material-icons">&#xe5cd</i>
      </button>
    </div>


    <div>
      <h2>Text</h2>
      <button type="button" class="btn btn-secondary ">Secondary</button>
      <button type="button" class="btn btn-secondary" disabled>Secondary disabled</button>

      <h2>Text (dark)</h2>
      <button type="button" class="btn btn-secondary dark">Secondary dark</button>
      <button type="button" class="btn btn-secondary dark" disabled>Secondary dark disabled</button>
    </div>

    <div>
      <h2>Text + Icon</h2>
      <button type="button" class="btn btn-secondary">
        <i class="material-icons">&#xe5cd</i>
        secondary + Icon
      </button>
      <button type="button" class="btn btn-secondary" disabled>
        <i class="material-icons">&#xe5cd</i>
        secondary + Icon disabled
      </button>

      <h2>Text + Icon (dark)</h2>
      <button type="button" class="btn btn-secondary dark">
        <i class="material-icons">&#xe5cd</i> secondary + Icon
      </button>
      <button type="button" class="btn btn-secondary dark" disabled>
        <i class="material-icons">&#xe5cd</i>
        secondary + Icon disabled
      </button>
    </div>

    <div>
      <h2>Icon</h2>
      <button type="button" class="btn btn-secondary btn-icon">
        <i class="material-icons">&#xe5cd</i>
      </button>
      <button type="button" class="btn btn-secondary btn-icon" disabled>
        <i class="material-icons">&#xe5cd</i>
      </button>

      <h2>Icon (dark)</h2>
      <button type="button" class="btn btn-secondary btn-icon dark">
        <i class="material-icons">&#xe5cd</i>
      </button>
      <button type="button" class="btn btn-secondary btn-icon dark" disabled>
        <i class="material-icons">&#xe5cd</i>
      </button>
    </div>


    <div>
      <h2>Text</h2>
      <button type="button" class="btn btn-hyperlink">hyperlink</button>
      <button type="button" class="btn btn-hyperlink" disabled>hyperlink disabled</button>

      <h2>Text (dark)</h2>
      <button type="button" class="btn btn-hyperlink dark">hyperlink dark</button>
      <button type="button" class="btn btn-hyperlink dark" disabled>hyperlink dark disabled</button>
    </div>

    <div>
      <h2>Text + Icon</h2>
      <button type="button" class="btn btn-hyperlink">
        <i class="material-icons">&#xe5cd</i>
        hyperlink + Icon
      </button>
      <button type="button" class="btn btn-hyperlink" disabled>
        <i class="material-icons">&#xe5cd</i>
        hyperlink + Icon disabled
      </button>

      <h2>Text + Icon (dark)</h2>
      <button type="button" class="btn btn-hyperlink dark">
        <i class="material-icons">&#xe5cd</i> hyperlink + Icon
      </button>
      <button type="button" class="btn btn-hyperlink dark" disabled>
        <i class="material-icons">&#xe5cd</i>
        hyperlink + Icon disabled
      </button>
    </div>

    <div>
      <h2>Icon</h2>
      <button type="button" class="btn btn-hyperlink btn-icon">
        <i class="material-icons">&#xe5cd</i>
      </button>
      <button type="button" class="btn btn-hyperlink btn-icon" disabled>
        <i class="material-icons">&#xe5cd</i>
      </button>

      <h2>Icon (dark)</h2>
      <button type="button" class="btn btn-hyperlink btn-icon dark">
        <i class="material-icons">&#xe5cd</i>
      </button>
      <button type="button" class="btn btn-hyperlink btn-icon dark" disabled>
        <i class="material-icons">&#xe5cd</i>
      </button>
    </div>


    <div>
      <h2>Text</h2>
      <button type="button" class="btn btn-pills ">pills</button>
      <button type="button" class="btn btn-pills" disabled>pills disabled</button>

      <h2>Text (dark)</h2>
      <button type="button" class="btn btn-pills dark">pills dark</button>
      <button type="button" class="btn btn-pills dark" disabled>pills dark disabled</button>
    </div>

    <div>
      <h2>Text + Icon</h2>
      <button type="button" class="btn btn-pills">
        <i class="material-icons">&#xe5cd</i>
        pills + Icon
      </button>
      <button type="button" class="btn btn-pills" disabled>
        <i class="material-icons">&#xe5cd</i>
        pills + Icon disabled
      </button>

      <h2>Text + Icon (dark)</h2>
      <button type="button" class="btn btn-pills dark">
        <i class="material-icons">&#xe5cd</i> pills + Icon
      </button>
      <button type="button" class="btn btn-pills dark" disabled>
        <i class="material-icons">&#xe5cd</i>
        pills + Icon disabled
      </button>
    </div>

    <div>
      <h2>Icon</h2>
      <button type="button" class="btn btn-pills btn-icon">
        <i class="material-icons">&#xe5cd</i>
      </button>
      <button type="button" class="btn btn-pills btn-icon" disabled>
        <i class="material-icons">&#xe5cd</i>
      </button>

      <h2>Icon (dark)</h2>
      <button type="button" class="btn btn-pills btn-icon dark">
        <i class="material-icons">&#xe5cd</i>
      </button>
      <button type="button" class="btn btn-pills btn-icon dark" disabled>
        <i class="material-icons">&#xe5cd</i>
      </button>
    </div>

    <br><hr><br>
    
    <div>
      <h2>Icon (with fill)</h2>
      <button type="button" class="btn btn-pills with-fill btn-icon">
        <i class="material-icons">&#xe5cf;</i>
      </button>
      <button type="button" class="btn btn-pills with-fill btn-icon" disabled>
        <i class="material-icons">&#xe5cf;</i>
      </button>

      <br>

      <h2>Icon (dark - with fill)</h2>
      <div style="background-color: black">
        <button type="button" class="btn btn-pills with-fill btn-icon dark">
          <i class="material-icons">&#xe5cf;</i>
        </button>
        <button type="button" class="btn btn-pills with-fill btn-icon dark" disabled>
          <i class="material-icons">&#xe5cf;</i>
        </button>
      </div>
    </div>
</div>