---
headerTitle: Checkbox
layout: base.html
version: 1.0.0
---

<div class="container">
  <div>
    <h2>Smiles - Checkbox</h2>
    <form class="smls-checkbox-radio">
      <div class="custom-checkbox custom-control">
        <input id="id-test" name="" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="id-test">Test</label>
        <div class="smls-chk-out"></div>
      </div>

      <div class="custom-checkbox custom-control">
        <input id="id-test2" name="" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="id-test2">Test</label>
        <div class="smls-chk-out"></div>
      </div>

      <div class="custom-checkbox custom-control">
        <input id="id-test3" name="" type="checkbox" class="custom-control-input" disabled checked>
        <label class="custom-control-label" for="id-test3">Test</label>
        <div class="smls-chk-out"></div>
      </div>

      <div class="custom-checkbox custom-control">
        <input id="id-test3" name="" type="checkbox" class="custom-control-input" disabled>
        <label class="custom-control-label" for="id-test3">Test</label>
        <div class="smls-chk-out"></div>
      </div>

      <div class="custom-checkbox custom-control error">
        <input id="id-chk-error1" name="" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="id-chk-error1">Test</label>
        <div class="smls-chk-out"></div>
        <br />
        <span class='smls-chk-error'>Mensagem de Error</span>
      </div>

      <div class="custom-checkbox custom-control smls-chk-undefined">
        <input id="id-test-undefined" name="" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="id-test-undefined">Test</label>
        <div class="smls-chk-out"></div>
      </div>

      <div class="custom-checkbox custom-control smls-chk-undefined">
        <input id="id-test-undefined" name="" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="id-test-undefined">Test</label>
        <div class="smls-chk-out"></div>
      </div>
    </form>

    <!-- Dark Theme -->
    <form class="smls-checkbox-radio" style="background-color: black;">
      <div class="custom-checkbox custom-control dark">
        <input id="id-test4" name="" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="id-test4">Test</label>
        <div class="smls-chk-out"></div>
      </div>

      <div class="custom-checkbox custom-control dark">
        <input id="id-test5" name="" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="id-test5">Test</label>
        <div class="smls-chk-out"></div>
      </div>

      <div class="custom-checkbox custom-control dark">
        <input id="id-test6" name="" type="checkbox" class="custom-control-input" disabled checked>
        <label class="custom-control-label" for="id-test6">Test</label>
        <div class="smls-chk-out"></div>
      </div>

      <div class="custom-checkbox custom-control dark">
        <input id="id-test7" name="" type="checkbox" class="custom-control-input" disabled>
        <label class="custom-control-label" for="id-test7">Test</label>
        <div class="smls-chk-out"></div>
      </div>

      <div class="custom-checkbox custom-control dark error">
        <input id="id-error2" name="" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="id-error2">Test</label>
        <div class="smls-chk-out"></div>
        <br />
        <span class='smls-chk-error'>Mensagem de Error</span>
      </div>
    </form>
  </div>
</div>