---
headerTitle: Chip
layout: base.html
version: 1.0.0
---

<div class="container">

    <h2>Smiles - chips (text + icon)</h2>

    <h3>Unselected</h3>

    <button class="chip">
      <span>Texto</span>
      <i class="material-icons">add</i>
      <i class="material-icons">clear</i>
    </button><br>

    <button class="chip" disabled>
      <span>Texto</span>
      <i class="material-icons">add</i>
      <i class="material-icons">clear</i>
    </button><br>

    <h3>Selected</h3>

    <button class="chip selected">
      <span>Texto</span>
      <i class="material-icons">add</i>
      <i class="material-icons">clear</i>
    </button><br>

    <button class="chip selected" disabled>
      <span>Texto</span>
      <i class="material-icons">add</i>
      <i class="material-icons">clear</i>
    </button><br>

    <div style="padding: 20px; background-color: black">
      <h3 style="color: white">Unselected - Dark</h3>

      <button class="chip dark">
        <span>Texto</span>
        <i class="material-icons">add</i>
        <i class="material-icons">clear</i>
      </button><br>

      <button class="chip dark" disabled>
        <span>Texto</span>
        <i class="material-icons">add</i>
        <i class="material-icons">clear</i>
      </button><br>

      <h3 style="color: white">Selected - Dark</h3>

      <button class="chip dark selected">
        <span>Texto</span>
        <i class="material-icons">add</i>
        <i class="material-icons">clear</i>
      </button><br>

      <button class="chip dark selected" disabled>
        <span>Texto</span>
        <i class="material-icons">add</i>
        <i class="material-icons">clear</i>
      </button><br>
    </div>

    <br><hr><br>

    <h2>Smiles - chips (text)</h2>

    <h3>Unselected</h3>

    <div>
      <button class="chip text-only">Texto</button><br>
      <button class="chip text-only" disabled>Texto</button><br>
  
      <h3>Selected</h3>
  
      <button class="chip text-only selected">Texto</button><br>
      <button class="chip text-only selected" disabled>Texto</button><br>
  
      <div style="padding: 20px; background-color: black">
        <h3 style="color: white">Unselected - Dark</h3>
  
        <button class="chip text-only dark">Texto</button><br>
        <button class="chip text-only dark" disabled>Texto</button><br>
  
        <h3 style="color: white">Selected - Dark</h3>
  
        <button class="chip text-only dark selected">Texto</button><br>
        <button class="chip text-only dark selected" disabled>Texto</button><br>
      </div>
    </div>    

    <br><hr><br>

    <h2>Co-branded - chips (text + icon)</h2>

    <h3>Unselected</h3>

    <button class="chip color-card">
      <span>Texto</span>
      <i class="material-icons">add</i>
      <i class="material-icons">clear</i>
    </button><br>

    <button class="chip color-card" disabled>
      <span>Texto</span>
      <i class="material-icons">add</i>
      <i class="material-icons">clear</i>
    </button><br>

    <h3>Selected</h3>

    <button class="chip color-card selected">
      <span>Texto</span>
      <i class="material-icons">add</i>
      <i class="material-icons">clear</i>
    </button><br>

    <button class="chip color-card selected" disabled>
      <span>Texto</span>
      <i class="material-icons">add</i>
      <i class="material-icons">clear</i>
    </button><br>

    <div style="padding: 20px; background-color: black">
      <h3 style="color: white">Unselected - Dark</h3>

      <button class="chip color-card dark">
        <span>Texto</span>
        <i class="material-icons">add</i>
        <i class="material-icons">clear</i>
      </button><br>

      <button class="chip color-card dark" disabled>
        <span>Texto</span>
        <i class="material-icons">add</i>
        <i class="material-icons">clear</i>
      </button><br>

      <h3 style="color: white">Selected - Dark</h3>

      <button class="chip color-card dark selected">
        <span>Texto</span>
        <i class="material-icons">add</i>
        <i class="material-icons">clear</i>
      </button><br>

      <button class="chip color-card dark selected" disabled>
        <span>Texto</span>
        <i class="material-icons">add</i>
        <i class="material-icons">clear</i>
      </button><br>
    </div>

    <br><hr><br>

    <h2>Co-branded - chips (text)</h2>

    <h3>Unselected</h3>

    <div>
      <button class="chip color-card text-only">Texto</button><br>
      <button class="chip color-card text-only" disabled>Texto</button><br>
  
      <h3>Selected</h3>
  
      <button class="chip color-card text-only selected">Texto</button><br>
      <button class="chip color-card text-only selected" disabled>Texto</button><br>
  
      <div style="padding: 20px; background-color: black">
        <h3 style="color: white">Unselected - Dark</h3>
  
        <button class="chip color-card text-only dark">Texto</button><br>
        <button class="chip color-card text-only dark" disabled>Texto</button><br>
  
        <h3 style="color: white">Selected - Dark</h3>
  
        <button class="chip color-card text-only dark selected">Texto</button><br>
        <button class="chip color-card text-only dark selected" disabled>Texto</button><br>
      </div>
    </div>

</div>