---
headerTitle: Dropdown
layout: base.html
version: 1.0.0
---
<div class="container">

  <h2>Dropdown</h2><br/>

  <div class="dropdown">
    <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <input placeholder="Select something"  />
      <i class="material-icons">expand_more</i>
    </div>
    <ul class="dropdown-menu aria-labelledby="dropdownMenuButton">
      <li class="dropdown-item">
        <div>
          <i class="material-icons">fiber_manual_record</i>
          <div>
            <label>Label</label>
            <span>Item 01</span>
          </div>
        </div>
      </li>
      <li class="dropdown-item">
        <div>
          <i class="material-icons">fiber_manual_record</i>
          <div>
            <label>Label</label>
            <span>Item 01</span>
          </div>
        </div>
      </li>
      <li class="dropdown-item">
        <div>
          <i class="material-icons">fiber_manual_record</i>
          <div>
            <label>Label</label>
            <span>Item 01</span>
          </div>
        </div>
      </li>
      <li class="dropdown-item">
        <div>
          <i class="material-icons">fiber_manual_record</i>
          <div>
            <label>Label</label>
            <span>Item 01</span>
          </div>
        </div>
      </li>
      <li class="dropdown-item">
        <div>
          <i class="material-icons">fiber_manual_record</i>
          <div>
            <label>Label</label>
            <span>Item 01</span>
          </div>
        </div>
      </li>
      <li class="dropdown-item">
        <div>
          <i class="material-icons">fiber_manual_record</i>
          <div>
            <label>Label</label>
            <span>Item 01</span>
          </div>
        </div>
      </li>
      <li class="dropdown-item">
        <div>
          <i class="material-icons">fiber_manual_record</i>
          <div>
            <label>Label</label>
            <span>Item 01</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
<!-- 
  <div class="dropdown open">
    <div class="dropdown-toggle" >
      <input placeholder="Select something" />
      <i class="material-icons">expand_more</i>
    </div>
  
    <ul class="dropdown-menu">
      <li class="dropdown-item">
        <i class="material-icons">fiber_manual_record</i>
        <div>
          <label>Label</label>
          <span>Item 01</span>
        </div>
      </li>
      <li class="dropdown-item">
        <i class="material-icons">fiber_manual_record</i>
        <div>
          <label>Label</label>
          <span>Item 02</span>
        </div>
      </li>
      <li class="dropdown-item">
        <i class="material-icons">fiber_manual_record</i>
        <div>
          <label>Label</label>
          <span>Item 03</span>
        </div>
      </li>
      <li class="dropdown-item">
        <i class="material-icons">fiber_manual_record</i>
        <div>
          <label>Label</label>
          <span>Item 04</span>
        </div>
      </li>
      <li class="dropdown-item">
        <i class="material-icons">fiber_manual_record</i>
        <div>
          <label>Label</label>
          <span>Item 05</span>
        </div>
      </li>
      <li class="dropdown-item">
        <i class="material-icons">fiber_manual_record</i>
        <div>
          <label>Label</label>
          <span>Item 06</span>
        </div>
      </li>
    </ul>
  </div> -->

</div>