---
headerTitle: Input Password
layout: base.html
version: 1.0.0
---
<div class="container">

	<h2>Input password</h2>

  <div class="input-group icon password visible">
    <div>
      <input id="input-text" value="123" maxlength="4" />
      <i class="material-icons">visibility_off</i>
      <i class="material-icons">visibility</i>
      <span id="mask" data-mask="   o"></span>
    </div>
    <div>
      <i class="material-icons">info</i>
      <span>Error message</span>
    </div>
  </div><br/>

  <div class="input-group icon password error">
    <div>
      <input id="input-text" type="password" value="123" maxlength="4" />
      <i class="material-icons">visibility_off</i>
      <i class="material-icons">visibility</i>
      <span id="mask" data-mask="   o"></span>
    </div>
    <div>
      <i class="material-icons">info</i>
      <span>Error message</span>
    </div>
  </div><br/>

</div>