---
headerTitle: Input Text
layout: base.html
version: 1.0.0
---
<div class="container">

  <h2>Input text</h2><br />
  <div class="input-group">
    <label for="input-text">Enabled</label>
    <div>
      <input id="input-text" placeholder="Placeholder text" />
    </div>
  </div>
  <br />

  <div class="input-group disabled">
    <label for="input-text">Disabled</label>
    <div>
      <input id="input-text" placeholder="Placeholder text" disabled />
    </div>
  </div>
  <br />

  <div class="input-group icon">
    <label for="input-text">Enabled - Icon</label>
    <div>
      <input id="input-text" placeholder="Placeholder text" />
      <i class="material-icons">fiber_manual_record</i>
    </div>
  </div>
  <br />

  <div class="input-group input-outline">
    <label for="input-text">Focused</label>
    <div>
      <input id="input-text" placeholder="Placeholder text" />
    </div>
  </div>
  <br />

  <div class="input-group typing">
    <label for="input-text">Typing</label>
    <div>
      <input id="input-text" placeholder="Placeholder text" value="Typin..." />
    </div>
  </div>
  <br />

  <div class="input-group filled">
    <label for="input-text">Filled</label>
    <div>
      <input id="input-text" placeholder="Placeholder text" value="Filled" />
    </div>
  </div>
  <br />

  <div class="input-group error">
    <label for="input-text">Error</label>
    <div>
      <input id="input-text" class="form-control" placeholder="Placeholder text" value="Invalid input" />
    </div>
    <div class="input-error">
      <i class="material-icons">error_outline</i>
      <label for="input-text">Error message</label>
    </div>
  </div>
  <br />
  
</div>