---
headerTitle: Input Token
layout: base.html
version: 1.0.0
---
<div class="container">

  <h2>Input token</h2><br/>

  <div class="input-group token">
    <label for="input-token">Enabled</label>
    <div>
      <input id="input-token" placeholder="000000" />
      <i class="material-icons filled">check</i>
      <i class="material-icons error">close</i>
      <div class="typing">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div><br/>

  <div class="input-group token disabled">
    <label for="input-token">Disabled</label>
    <div>
      <input id="input-token" placeholder="000000" disabled />
      <i class="material-icons filled">check</i>
      <i class="material-icons error">close</i>
      <div class="typing">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div><br/>

  <div class="input-group token input-outline">
    <label for="input-token">Focused</label>
    <div>
      <input id="input-token" placeholder="000000" />
      <i class="material-icons filled">check</i>
      <i class="material-icons error">close</i>
      <div class="typing">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div><br/>

  <div class="input-group token typing">
    <label for="input-token">Typing</label>
    <div>
      <input id="input-token" placeholder="000000" value="1234" />
      <i class="material-icons filled">check</i>
      <i class="material-icons error">close</i>
      <div class="typing">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div><br/>

  <div class="input-group token filled">
    <label for="input-token">Filled</label>
    <div>
      <input id="input-token" placeholder="000000" value="123456" />
      <i class="material-icons filled">check</i>
      <i class="material-icons error">close</i>
      <div class="typing">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div><br/>

  <div class="input-group token error">
    <label for="input-token">Error</label>
    <div>
      <input id="input-token" placeholder="000000" value="123456" />
      <i class="material-icons filled">check</i>
      <i class="material-icons error">close</i>
      <div class="typing">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
    <div class="input-error">
      <i class="material-icons">error_outline</i>
      <label for="input-text">Error message</label>
    </div>
  </div><br/>

</div>