---
headerTitle: Input Token
layout: base.html
version: 1.0.0
---
<div class="container">

  <h2>Item List Checkbox</h2>
  <br />
  <div style="position: relative; z-index: 0;">
    <div class="form-group">
      <div>
        <div class="input-group dropdown show">
          <div class="dropdown-toggle"><input type="text" class="form-control"></div>
          <ul class="dropdown-menu smls-dropdown-radio">
            <li class="dropdown-item">
              <div class="smls-item">
                <div><span>span 1</span></div>
                <div class="undefined   without-error custom-radio custom-control">
                  <input id="test1" type="radio" name="radio1" class="custom-control-input">
                  <label class="custom-control-label" for="test1">
                  </label>
                  <div class="smls-radio-out false"></div>
                </div>
              </div>
            </li>
            <li class="dropdown-item">
              <div class="smls-item">
                <div><span>span 1</span></div>
                <div class="undefined   without-error custom-radio custom-control">
                  <input id="test2" type="radio" name="radio1" class="custom-control-input">
                  <label class="custom-control-label" for="test2">
                  </label>
                  <div class="smls-radio-out false"></div>
                </div>
              </div>
            </li>

            <li class="dropdown-item">
              <div class="smls-item">
                <div><span>span 1</span></div>
                <div class="undefined   without-error custom-radio custom-control">
                  <input id="test2" type="radio" name="radio2" class="custom-control-input">
                  <label class="custom-control-label" for="test2">
                  </label>
                  <div class="smls-radio-out false"></div>
                </div>
              </div>
            </li>
            <li class="dropdown-item">
              <div class="smls-item">
                <div><span>span 1</span></div>
                <div class="undefined   without-error custom-radio custom-control">
                  <input id="test2" type="radio" name="radio2" class="custom-control-input">
                  <label class="custom-control-label" for="test2">
                  </label>
                  <div class="smls-radio-out false"></div>
                </div>
              </div>
            </li>
            <li class="dropdown-item">
              <div class="smls-item">
                <div><span>span 1</span></div>
                <div class="undefined   without-error custom-radio custom-control">
                  <input id="test2" type="radio" name="radio2" class="custom-control-input">
                  <label class="custom-control-label" for="test2">
                  </label>
                  <div class="smls-radio-out false"></div>
                </div>
              </div>
            </li>
            <li class="dropdown-item">
              <div class="smls-item">
                <div><span>span 1</span></div>
                <div class="undefined   without-error custom-radio custom-control">
                  <input id="test2" type="radio" name="radio2" class="custom-control-input">
                  <label class="custom-control-label" for="test2">
                  </label>
                  <div class="smls-radio-out false"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>