---
headerTitle: Input Token
layout: base.html
version: 1.0.0
---
<div class="container">

  <h2>Item List Checkbox</h2>
  <br />
  <div style="position: relative; z-index: 0;">
    <div class="form-group">
      <div>
        <div class="input-group dropdown show">
          <div class="dropdown-toggle"><input type="text" class="form-control"></div>
          <ul class="dropdown-menu smls-chk-item">
            <li class="dropdown-item">
              <div>
                <div>
                  <label>teste 1</label>
                  <span>span 1</span>
                </div>
                <div class="smls-item-out">teste</div>
              </div>
            </li>
            <li class="dropdown-item">
              <div>
                <div><label>teste 1</label><span>span 1</span></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>