---
headerTitle: list
layout: base.html
version: 1.0.0
---
<div class="container">

  <h2>Item List Checkbox</h2>
  <br />
  <div style="position: relative; z-index: 0;">
    <h3>Telefones da Central Smiles</h3>
    <ul class="smls-list">
      <li>
        <button class="smls-list-range">
          <div class="smls-list-text">
            <label>
              Smiles e Prata
            </label>
            <p class="smls-list-sub">
              Telefone: 0300 115 7001
            </p>
            <p class="smls-list-sub">
              Horário de atendimento: 06h - 00h
            </p>
          </div>
          <i class="material-icons">
            done
          </i>
        </button>
      </li>
      <li>
        <button class="smls-list-range">
          <div class="smls-list-text">
            <label>
              Cabeçalho de teste
            </label>
            <p class="smls-list-sub">
              Valor de teste
            </p>
          </div>
          <i class="material-icons">
            done
          </i>
        </button>
      </li>
      <li>
        <button class="smls-list-range">
          <div class="smls-list-text">
            <label>
              Cabeçalho de teste
            </label>
            <p class="smls-list-sub">
              Valor de teste
            </p>
          </div>
          <i class="material-icons">
            done
          </i>
        </button>
      </li>
      <li>
        <button class="smls-list-range">
          <div class="smls-list-text">
            <label>
              Cabeçalho de teste
            </label>
            <p class="smls-list-sub">
              Valor de teste
            </p>
          </div>
          <i class="material-icons">
            done
          </i>
        </button>
      </li>
    </ul>
  </div>
</div>