---
headerTitle: Logos Smiles
layout: base.html
version: 1.0.0
---
<style>
  .smls-logos {
    margin-right: 30px;
  }
</style>
<div class='container'> 
  <h3>Logos Smiles</h3>
  <h4>Logo sem Slogan</h4>
  <div>
    <p><span class='smls-logos smiles'><b>Smiles</b></span>Padrão</p>
  </div>
  <div>
    <p><span class='smls-logos smiles black'><b>Smiles</b></span>Black</p>
  </div>    
  <div>
    <p><span class='smls-logos smiles white'><b>Smiles</b></span>White</p>
  </div>
  <hr>
  <h4>Logo com Slogan</h4>
  <div>
    <p><span class='smls-logos smiles-slogan'><b>Smiles</b></span>Padrão</p>
  </div>
  <div>
    <p><span class='smls-logos smiles-slogan black'><b>Smiles</b></span>Black</p>
  </div>    
  <div>
    <p><span class='smls-logos smiles-slogan white'><b>Smiles</b></span>White</p>
  </div>
  <hr>
  <h4>Symbol</h4>
  <div>
    <p><span class='smls-logos smiles-symbol'><b>Smiles</b></span>Padrão</p>
  </div>
  <div>
    <p><span class='smls-logos smiles-symbol black'><b>Smiles</b></span>Black</p>
  </div>    
  <div>
    <p><span class='smls-logos smiles-symbol white'><b>Smiles</b></span>White</p>
  </div>
</div>