---
headerTitle: Messages
layout: base.html
version: 1.0.0
---
<div class="container">
  <h2>Smiles - Messages</h2>

  <h3>Simple</h3>
  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div>
      <p>Short text - Max 2 lines</p>
    </div>
  </div><br>

  <h3>Icon + Text</h3>
  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <i class="material-icons">fiber_manual_record</i>
    <div>
      <p>Short text - Max 2 lines</p>
    </div>
  </div><br>

  <h3>Button</h3>
  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div>
      <span>Title</span>
      <p>Short text - Max 2 lines</p>
    </div>
    <button>
      <i class="material-icons">close</i>
    </button>
  </div><br>

  <h3>Simple</h3>

  <div class="popover up show">
    <span>Mensagem de 1 linha</span>
  </div><br>

  <div class="popover down show">
    <span>Mensagem de 1 linha</span>
  </div><br>

  <div class="popover left show">
    <span>Mensagem de 1 linha</span>
  </div><br>

  <div class="popover right show">
    <span>Mensagem de 1 linha</span>
  </div><br>

  <h3>Simple - Dark</h3>

  <div style="padding: 20px; background-color: black;">
    <div class="popover up dark show">
      <span>Mensagem de 1 linha</span>
    </div><br>

    <div class="popover down dark show">
      <span>Mensagem de 1 linha</span>
    </div><br>

    <div class="popover left dark show">
      <span>Mensagem de 1 linha</span>
    </div><br>

    <div class="popover right dark show">
      <span>Mensagem de 1 linha</span>
    </div><br>
  </div>

</div>
