---
headerTitle: popover-list
layout: base.html
version: 1.0.0
---

<div class="container">
  <div class="smls-popover-list">
    <ul>
      <li>
        <i class="material-icons notranslate">&#xe539;</i>
      </li>
      <li>
        <i class="material-icons notranslate">&#xe53a;</i>
      </li>
      <li>
        <i class="material-icons notranslate primary">&#xe531;</i>
      </li>
      <li>
        <i class="material-icons notranslate primary">&#xe32a;</i>
      </li>
      <li>
        <i class="material-icons notranslate">&#xe553;</i>
      </li>
      <div class="smls-popover">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ratione magni tempora atque cum, nobis ducimus alias excepturi pariatur ullam, debitis blanditiis, explicabo impedit sequi doloremque sint eligendi? Ea, quidem!
      </div>
    </ul>
  </div>
</div>