---
headerTitle: Radio
layout: base.html
version: 1.0.0
---
<div class="container">
  <div>
    <h2>Smiles - Radio</h2>
    <form class="smls-form-radio">
      <div class="smls-radio">
        <div class="custom-control custom-radio possible-error">
          <input type="radio" class="custom-control-input" id="customRadio" name="example" value="customEx"
            tabindex="-1">
          <label class="custom-control-label" for="customRadio">Custom radio 1hhhhhhhhhhhhfkjdhfjkshdkjf hsdjf hsdjkfh
            kjsdhf jkshd fkjhsd jkfh sdkj fhsjkd hfjksdh fkjshdf </label>
          <div class="smls-radio-out"></div>
        </div>
      </div>
      <div class="smls-radio">
        <div style="background-color: black; height: 5px; width: 50%;"></div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customRadio2" name="example" value="customEx">
          <label class="custom-control-label" for="customRadio2">Custom radio 2</label>
          <div class="smls-radio-out"></div>
        </div>
      </div>

      <div class="smls-radio">
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customRadio3" name="example" value="customEx" disabled
            checked>
          <label class="custom-control-label" for="customRadio3" disabled>Custom radio 3</label>
          <div class="smls-radio-out"></div>
        </div>
      </div>

      <div class="smls-radio">
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customRadio4" name="example" value="customEx" disabled>
          <label class="custom-control-label" for="customRadio4" disabled>Custom radio 4</label>
          <div class="smls-radio-out"></div>
        </div>
      </div>

      <div class="smls-radio">
        <div class="custom-control custom-radio error">
          <input type="radio" class="custom-control-input" id="customRadioError1" name="example" value="customEx">
          <label class="custom-control-label" for="customRadioError1" disabled>Custom radio 4</label>
          <div class="smls-radio-out"></div>
          <br />
          <label class='smls-radio-error' for="customRadioError1">Mensagem de Error</label>
        </div>
      </div>
    </form>
    <!-- Dark examples -->
    <form class="smls-radio-form" style="background-color: black;">
      <div class="smls-radio">
        <div class="custom-control custom-radio dark">
          <input type="radio" class="custom-control-input dark" id="customRadioDark1" name="example" value="customEx">
          <label class="custom-control-label" for="customRadioDark1">Custom radio 1</label>
          <div class="smls-radio-out"></div>
        </div>
      </div>

      <div class="smls-radio">
        <div class="custom-control custom-radio dark">
          <input type="radio" class="custom-control-input dark" id="customRadioDark2" name="example" value="customEx">
          <label class="custom-control-label" for="customRadioDark2">Custom radio 2</label>
          <div class="smls-radio-out"></div>
        </div>
      </div>

      <div class="smls-radio">
        <div class="custom-control custom-radio dark">
          <input type="radio" class="custom-control-input dark" id="customRadioDark3" name="example" value="customEx"
            disabled checked>
          <label class="custom-control-label" for="customRadioDark3" disabled>Custom radio 3</label>
          <div class="smls-radio-out"></div>
        </div>
      </div>

      <div class="smls-radio">
        <div class="custom-control custom-radio dark">
          <input type="radio" class="custom-control-input dark" id="customRadioDark4" name="example" value="customEx"
            disabled>
          <label class="custom-control-label" for="customRadioDark4" disabled>Custom radio 4</label>
          <div class="smls-radio-out"></div>
        </div>
      </div>

      <div class="smls-radio">
        <div class="custom-control custom-radio dark error">
          <input type="radio" class="custom-control-input" id="customRadioError2" name="example" value="customEx">
          <label class="custom-control-label" for="customRadioError2" disabled>Custom radio 4</label>
          <div class="smls-radio-out"></div>
          <br />
          <label class='smls-radio-error' for="customRadioError2">Mensagem de Erro</label>
        </div>
      </div>
    </form>
  </div>
</div>