---
headerTitle: Skeleton
layout: base.html
version: 1.0.0
---
<div class="container">
  <h2>Smiles - Skeleton</h2>

  <h3>Default</h3>
  <div>
    <p>Style example</p>
    <div>
      <div class="skeleton-container pulse-animation" style="width: 400px; height: 100px;"></div>
    </div>
  </div>

  <br>

  <h3>Custom content</h3>
  <div>
    <p>SmlsSkeleton.Content component usage example</p>
    <div>
      <div class="skeleton-container pulse-animation" style="padding: 30px; width: 160px">
        <div style="border-radius: 1rem; width: 100px; height: 100px;" class="skeleton-content"></div>
        <div style="border-radius: 1rem; width: 100px; height: 20px; margin-top: 15px;" class="skeleton-content"></div>
        <div style="border-radius: 1rem; width: 50px; height: 20px; margin-top: 15px; margin-right: 50px;"
          class="skeleton-content"></div>
      </div>
    </div>
  </div>
  <br>
</div>