---
headerTitle: Switch
layout: base.html
version: 1.0.0
---

<div class="container">
  <div>
    <h2>Smiles - switch</h2>
    <form class="smls-switch">
      <div class="form-group">
        <div class="custom-switch custom-control">
          <input id="rad1" type="checkbox" class="custom-control-input">
          <label class="custom-control-label" for="rad1">
          </label>
          <div class="smls-switch-out"></div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="custom-switch custom-control">
          <input id="rad5" type="checkbox" class="custom-control-input">
          <label class="custom-control-label" for="rad5">
          </label>
          <div class="smls-switch-out"></div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="custom-switch custom-control">
          <input id="rad1" type="checkbox" class="custom-control-input" disabled>
          <label class="custom-control-label" for="rad1">
          </label>
          <div class="smls-switch-out"></div>
        </div>
      </div>
      <br>

      <div class="form-group">
        <div class="custom-switch custom-control">
          <input id="rad1" type="checkbox" class="custom-control-input" disabled checked>
          <label class="custom-control-label" for="rad1">
          </label>
          <div class="smls-switch-out"></div>
        </div>
      </div>
      <br>
      <div class="form-group" style="background-color: black;">
        <div class="custom-switch custom-control dark">
          <input id="rad2" type="checkbox" class="custom-control-input">
          <label class="custom-control-label" for="rad2">
          </label>
          <div class="smls-switch-out"></div>
        </div>
      </div>
      <br>

      <div class="form-group" style="background-color: black;">
        <div class="custom-switch custom-control dark">
          <input id="rad2" type="checkbox" class="custom-control-input" disabled>
          <label class="custom-control-label" for="rad2">
          </label>
          <div class="smls-switch-out"></div>
        </div>
      </div>
      <br>


      <div class="form-group" style="background-color: black;">
        <div class="custom-switch custom-control dark">
          <input id="rad2" type="checkbox" class="custom-control-input" disabled checked>
          <label class="custom-control-label" for="rad2">
          </label>
          <div class="smls-switch-out"></div>
        </div>
      </div>
    </form>
  </div>
</div>