---
headerTitle: Progress
layout: base.html
version: 1.0.0
---

<div class="container">
  <div>
    <h2>Smiles - Progress</h2>
    <div class="smls-topbar">
      <img src="../assets/smiles-logo-primary.svg" width="50" height="50" alt="logo"></img>

      <div class="smls-topbar-middle">
        <ul class="nav nav-tabs smls-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>

      <div class="smls-close">
        <i class="material-icons">
          close
        </i>
        <div class="out"></div>
      </div>
    </div>
  </div>
</div>