---
headerTitle: Typography
layout: base.html
version: 1.0.0
---

<div class="container">
  <div>
    <h2>Smiles - Typography</h2>
    <form class="smls-typography">
      <h1>Typography text example - h1</h1>
      <h2>Typography text example - h2</h2>
      <h3>Typography text example - h3</h3>
      <h4>Typography text example - h4</h4>
      <h5>Typography text example - h5</h5>
      <h6>Typography text example - h6</h6>
      <p>
        Typography text example - p
      </p>
      <p>
        <small>
          Typography text example - p - small
        </small>
      </p>
      <p class="caption--card">
        <small>
          Typography - caption (card) - p - small
        </small>
      </p>
      <p>
        <del>
          Typography text example - p - del
        </del>
      </p>
      <p>
        <s>
          Typography text example - p - s
        </s>
      </p>
      <p>
        <ins>
          Typography text example - p - s
        </ins>
      </p>
      <p>
        <u>
          Typography text example - p - s
        </u>
      </p>
      <p>
        <strong>
          Typography text example - p - s
        </strong>
      </p>
      <p>
        <em>
          Typography text example - p - s
        </em>
      </p>
      <a href="#">
        Typography text example - a
      </a>
      <br />
      <a href="#">
        <small>
          Typography text example - p - small
        </small>
      </a>
      <br />
      <a class="link--card" href="#">
        <small>
          Typography - hiperlink small - 14px - bold - 18px (line-height)
        </small>
      </a>
    </form>
  </div>
</div>