.password {
  div {
    position: relative;
    span {
      position: absolute;
      pointer-events: none;
      &:before {
        content: attr(data-mask);
        white-space: pre;
        letter-spacing: 16px;
        font-family: 'Courier New', Courier, monospace;
        white-space: pre;
        color: $color-black60;
        position: absolute;
        text-align: left;
        height: 24px;
        z-index: 0;

        top: 50%;
        transform: translate(24px, -50%);
      }
    }
  }

  &.error:not(.disabled) {
    div:last-child {
      span {
        margin-left: 8px;
      }

      display: flex;
      align-items: flex-start;
      border: none;
      color: $color-wine;
    }
  }

  input {
    min-width: 230px;
    letter-spacing: 16px;
  }

  .material-icons {
    cursor: pointer;
  }

  .material-icons:nth-child(2) {
    display: none;
  }

  &.visible {
    .material-icons:nth-child(2) {
      display: block;
    }

    .material-icons:nth-child(3) {
      display: none;
    }
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
