.smls-icon-cell_phone {
  background-image: url("../assets/misc/cell-phone.svg");
}

.smls-icon-broken_suitcase {
  background-image: url("../assets/misc/broken-suitcase.svg");
}

.smls-icon-beach_chair {
  background-image: url("../assets/misc/beach-chair.svg");
}

.smls-icon-email {
  background-image: url("../assets/misc/e-mail.svg");
}

.smls-icon-profile {
  background-image: url("../assets/misc/profile.svg");
}

.smls-icon-associate {
  background-image: url("../assets/misc/associate.svg");
}

.smls-icon-avatar {
  background-image: url("../assets/logos/smiles/avatar.svg");
}