.smls-change_password {
  display: flex;
  justify-content: space-around;

  aside {
    display: none;

    @media (min-width: $bkpoint-tablet) {
      display: block;
      margin: 72px 56px;

      .smls-icon-profile {
        height: 360px;
        width: 360px;
      }
    }
  }

  main {
    padding: 22px 24px;
    width: 100%;

    p {
      margin-bottom: 32px;

      @media (min-width: $bkpoint-tablet) {
        margin-bottom: 57px;
      }
    }

    .smls-main-content {
      .input-group.error:not(.typing) label:last-child {
        height: auto;
      }

      .input-group.password {
        margin-top: 8px;
        div {
          width: 100%;
          min-width: 180px;
        }

        .input-error {
          padding: 0;
          margin-bottom: 8px;
          height: auto;
        }

        &.error {
          .input-error {
            padding-top: 8px;
          }
        }
      }

      .btn-primary {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 36px;
        min-width: 180px;
      }

      .btn-hyperlink {
        margin: 0 auto;
        font-family: $boldFontFamily;
      }

      @media (min-width: $bkpoint-tablet) {
        padding: 72px 52px 24px 64px;

        .input-group.password {
          margin-top: 16px;
          div {
            max-width: 360px;
          }

          .input-error {
            height: auto;
            margin-bottom: 16px;
          }
        }

        .btn-primary {
          width: auto;
          margin-top: 72px;
          min-width: 272px;
        }

        .btn-hyperlink {
          margin: 0;
        }
      }
    }
  }
}
.smls-modal-change-password {
  h4 {
    margin-bottom: 31px;
    @media (max-width: $bkpoint-tablet) {
      margin-bottom: 16px;
    }
  }

  ul {
    padding-left: 16px;
    margin-bottom: 65px;
    li {
      color: $color-black60;
    }
  }

  @media (max-width: $bkpoint-tablet) {
    .btn:not(.btn-icon):not(.btn-hyperlink) {
      width: 100%;
    }
  }
  &.new_password {
    h4 {
      margin-bottom: 24px;
      font-size: 24px;
    }
    .btn.btn-primary {
      margin-top: 64px;
      @media (max-width: $bkpoint-tablet) {
        margin-top: 117px;
      }
    }
  }
}
