.smls-my_account-modal-change-error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  h4 {
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 32px;
  }
  p {
    color: $color-black60;
    line-height: 24px;
  }
  .btn.btn-primary {
    margin-top: 136px;
  }
  @media (max-width: $bkpoint-tablet) {
    .btn.btn-primary {
      width: 100%;
    }
  }
  @media (min-width: $bkpoint-tablet) {
    padding: 40px 56px 0px;
    display: block;
    h4 {
      margin-bottom: 23px;
    }
    .btn.btn-primary {
      margin-top: 64px;
    }
  }
}
