.smls-my_account-change-name-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
  h4 {
    margin-bottom: 33px;
  }
  .input-group {
    margin-bottom: 8px;
    & > div {
      width: 100%;
    }
  }
  .btn:not(.btn-icon):not(.btn-hyperlink) {
    width: 100%;
    margin-top: 39px;
  }
  @media (min-width: $bkpoint-tablet) {
    display: block;
    padding: 0px 56px;
    h4 {
      margin-top: 40px;
    }
    .btn:not(.btn-icon):not(.btn-hyperlink) {
      width: 264px;
      margin-top: 39px;
    }
  }
}
