.smls-recover-pw {
  height: 100vh;
  display: flex;

  .banner {
    img,
    h2,
    .smls-home-header {
      display: none;
    }
  }

  .content {
    padding: 24px;
		width: 100%;

    h1 {
      font-size: 24px;
      line-height: 32px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: $color-black60;
      margin-bottom: 48px;
    }

    .input-group > div {
      width: 100%;
    }

    .btn-primary {
      font-family: $boldFontFamily;
      width: 100%;
    }

    .create-account {
      display: flex;
      margin-top: 32px;

      a {
        cursor: pointer;
        padding-left: 8px;
      }
    }
  }

  @media (min-width: $bkpoint-tablet) {
    flex-direction: row;

    .banner {
      position: relative;
      width: 30%;
      display: flex;
      flex-direction: column;

      img,
      h2 {
				display: block;
				z-index: -1;
      }

      .smls-home-header {
        display: block;
        margin: 36px 56px;
      }

      img {
        position: absolute;
        height: 100vh;
        width: 100%;
        background: linear-gradient(
          9.44deg,
          rgba(0, 0, 0, 0.4) 6.14%,
          rgba(245, 176, 94, 0) 38.51%
        );
      }

      h2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -1px;
        color: $color-white100;
        margin: auto 56px 36px;
      }
    }

    .content {
      margin: auto;
      max-width: 360px;

      h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -1px;
      }

      .btn-primary {
        margin: 40px 0 16px 0;
        width: 264px;
      }

      .create-account {
        margin-top: 48px;
      }
    }
  }
}

.smls-login-common {
  h1 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    margin-bottom: 24px;
  }

  .input-group div,
  .btn.btn-primary,
  .btn-hyperlink {
    width: 100%;
  }

  .input-group {
    margin-bottom: 80px;
  }

  .btn-primary {
    font-family: $boldFontFamily;
  }

  .btn-hyperlink {
    font-family: $boldFontFamily;
    padding-top: 36px;
  }

  @media (min-width: $bkpoint-tablet) {
    .input-group {
      margin-top: 45px;
      margin-bottom: 45px;
    }

    .btn.btn-primary {
      width: 264px;
    }

    .btn-hyperlink {
      padding-top: 40px;
      padding-left: 0;
      width: fit-content;
    }
  }
  @media (max-width: $bkpoint-tablet) {
    .input-group {
      margin-bottom: 30px;
    }
    .smls-login-common {
      .btn-primary {
        margin-top: 0;
      }
    }
  }
  .smls-btn-close {
    .material-icons {
      font-size: 24px;
    }
  }

}

.response-time-pw {
  width: 195px;
  height: 32px;
  background-color: $color-white95;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  color: $color-black60;
  font-size: 14px;
  margin-bottom: 32px;
}

.another-email-message {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  margin-top: 120px;
  align-items: center;

  div {
    margin-left: 120px;
    width: 456px;
  }

  h1 {
    font-size: 32px;
    color: $color-black80;
    letter-spacing: -1px;
    line-height: 40px;
  }

  p {
    color: $color-black60;
    margin: 24px 0 64px;
  }

  svg {
    width: 360px;
    height: 360px;
  }

  .btn-primary {
    font-family: $boldFontFamily;
  }


  @media (max-width: $bkpoint-tablet) {
    display: flex;
    height: 90vh;
    padding: 24px;
    margin: 0;
    > div {
      display: flex;
      height: 100%;
      margin-left: auto;
      width: 100%;
      flex-direction: column;
      
    }
    svg {
      display: none;
    }
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
    .btn-primary {
      min-width: 100%;
    }
  }
}