.smls-new-password {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    margin-top: 21px;
  }

  .btn-primary {
    width: 100%;
  }

  .btn-hyperlink {
    width: 100%;
    padding: 0;
  }

  .smls-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 49px;

    @media (min-width: $bkpoint-tablet) {
      display: flex;
      align-items: center;
      flex-direction: row;

      .btn-primary {
        min-width: 264px;
        width: auto;
      }

      .btn-hyperlink {
        min-width: auto;
        width: auto;
      }
    }
  }

  .input-group > div:not(.input-error) {
    width: 100%;
    min-width: 264px;
  }

  .smls-logos {
    height: 28px;
    width: 70px;
  }

  .smls-content {
    display: flex;
    flex-direction: column;
    padding: 65px 24px;
    width: 100%;
    padding-bottom: 24px;

    min-width: 250px;
    p {
      margin: 0;
      padding-top: 22px;
    }
    h3 {
      margin: 0;
    }

    @media (min-width: $bkpoint-tablet) {
      padding-bottom: 49px;
      width: 577px;
      padding: 65px 24px;
    }
  }
}
