.smls-hf-icon {
    font-size: 24px;
}

.smls-hf-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("img/smls-hf-icons.svg");
    background-repeat: no-repeat;
    background-size: 3.3541666666666665em 25.666666666666668em;
}

.no-svg .smls-hf-icon:before {
    background-image: url("../img/smls-hf-icons.png");
}



  .smls-hf-icon.apple-store-pt:before {
      background-position: -0.08333333333333333em -0.08333333333333333em;
      width: 2.8708333333333336em;
      height: 1em;
  }




  .smls-hf-icon.arrow-black:before {
      background-position: -0.08333333333333333em -1.25em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.arrow-orange:before {
      background-position: -0.08333333333333333em -2.416666666666667em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.chat-black:before {
      background-position: -0.08333333333333333em -3.5833333333333335em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.close-black:before {
      background-position: -0.08333333333333333em -4.75em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.facebook-black:before {
      background-position: -0.08333333333333333em -5.916666666666666em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.flag-argentina:before {
      background-position: -0.08333333333333333em -7.083333333333333em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.flag-brasil:before {
      background-position: -0.08333333333333333em -8.25em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.google-play-pt:before {
      background-position: -0.08333333333333333em -9.416666666666668em;
      width: 3.1875em;
      height: 1em;
  }




  .smls-hf-icon.hamburger-black:before {
      background-position: -0.08333333333333333em -10.583333333333334em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.help-black:before {
      background-position: -0.08333333333333333em -11.75em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.instagram-black:before {
      background-position: -0.08333333333333333em -12.916666666666668em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.linkedin-black:before {
      background-position: -0.08333333333333333em -14.083333333333334em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.logo-gol:before {
      background-position: -0.08333333333333333em -15.25em;
      width: 2.3041666666666667em;
      height: 1em;
  }




  .smls-hf-icon.logout-orange:before {
      background-position: -0.08333333333333333em -16.416666666666664em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.phone-black:before {
      background-position: -0.08333333333333333em -17.583333333333332em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.profile-black:before {
      background-position: -0.08333333333333333em -18.75em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.smiles-orange:before {
      background-position: -0.08333333333333333em -19.916666666666664em;
      width: 2.3666666666666667em;
      height: 1em;
  }




  .smls-hf-icon.spotify-black:before {
      background-position: -0.08333333333333333em -21.083333333333332em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.twitter-black:before {
      background-position: -0.08333333333333333em -22.25em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.world-orange:before {
      background-position: -0.08333333333333333em -23.416666666666664em;
      width: 1em;
      height: 1em;
  }




  .smls-hf-icon.youtube-black:before {
      background-position: -0.08333333333333333em -24.583333333333332em;
      width: 1em;
      height: 1em;
  }





