$desktop-margin: 56px;
$mobile-margin: 24px;

.width-664 .modal-dialog.right {
  border: 1px solid rgb(243, 38, 38);
  @include mx-width(100%, 664px, 664px);
  @include mx-max-width(100%, 664px, 664px);
}

.modal-header {
  border: 1px solid rgb(92, 91, 91);
  // height: 88px;
  margin-bottom: 56px;
}

.modal-logo {
  //   border: 1px solid red;
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  width: 193px;
  height: 24px;
  margin-bottom: 16px;
}
.modal-title {
  border: 1px solid rgb(236, 222, 19);
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
}
.modal-html-content {
  border: 1px solid rgb(61, 231, 19);
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  margin-top: 16px;
}

.modal-cards {
  width: auto;
  border: 1px solid rgb(9, 108, 221);
  margin-left: $desktop-margin;
  //   margin-right: 40px;
  margin-top: 48px;

  display: flex;
  gap: 24px;
  height: 340px;
}

.promotional-card {
  //   border: 2px solid rgb(255, 0, 0);
  width: 264px;
  height: 336px;
  border-radius: 16px;
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
  background-size: 264px 336px;
}

.card-image {
  position: relative;
}

.card-wrapper {
  border: 1px solid rgb(0, 0, 0);
  height: 288px;
  width: 216px;
  display: grid;
  margin-left: $mobile-margin;
  margin-right: $mobile-margin;
  grid-template-rows: 5fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'card-icon card-promotion'
    'card-origin card-origin'
    'card-destiny card-destiny'
    'card-text card-text'
    'card-price card-price';

  span {
    color: rgb(255, 255, 255);
  }
}

.rules-checkbox {
  border: 1px solid rgb(182, 13, 233);
  display: flex;
  flex-direction: row;
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  margin-top: 36px;
  margin-bottom: 60px;
  span a {
    text-decoration: none;
  }

  padding-right: 20px;
  .modal-rules-checkbox {
    width: 15px;
    margin-left: 24px;
  }
  .modal-rules-checkbox-text {
    align-self: center;
  }
}

.modal-confirm-button {
  border: 1px solid rgb(34, 8, 18);
  margin-left: $desktop-margin;
  margin-bottom: 36px;
  margin-top: 60px;
  width: 272px;
}

// criar uma class para cada opção de cores
.color-product-club {
  span {
    color: $color-white100;
  }
  background-color: $color-product-club;
  border-color: $color-product-club;
}

.modal-help-button {
  border: 1px solid rgb(118, 146, 121);
  margin-left: $desktop-margin;
  //   margin-top: 43px;
  max-width: 240px;
  //   text-align: start;
}

.hyperlink-no-border {
  justify-content: start;
  &:focus:not(:active) {
    &::after {
      border: none;
    }
  }
}

.modal-opt-out-checkbox {
  border: 1px solid rgb(67, 101, 145);
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  margin-top: 44px;
  width: 275px;

  //   margin-bottom: 60px;
}

.card-icon {
  //   border: 1px solid rgb(46, 255, 9);
  grid-area: card-icon;
  width: 36px;
  height: 36px;
  justify-self: start;
}
.card-promotion {
  width: 87px;
  height: 40px;
  border-radius: 8px;
  background-color: #663399;
  color: rgb(255, 255, 255);
  grid-area: card-promotion;
  font-family: Nunito;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 6px;
  justify-self: end;
}
.card-origin {
  grid-area: card-origin;
  //   border: 1px solid rgb(25, 9, 255);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  align-self: start;
}
.card-destiny {
  grid-area: card-destiny;
  //   border: 1px solid rgb(157, 9, 255);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  align-self: start;
}
.card-text {
  grid-area: card-text;
  //   border: 1px solid rgb(239, 255, 9);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  align-self: end;
}
.card-price {
  grid-area: card-price;
  //   border: 1px solid rgb(255, 9, 42);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
  align-self: end;
}

@media (max-width: $bkpoint-tablet) {
  .width-664 .modal-dialog.right {
    // height: auto;
    // overflow: auto;
  }
  .modal-header {
    // height: 64px;
    margin-bottom: 24px;
  }

  .modal-logo {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }
  .modal-title {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }
  .modal-html-content {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }

  .modal-cards {
    margin-left: $mobile-margin;
    gap: 0px;
    // overflow: auto hidden;
  }
  .promotional-card {
    margin-right: 16px;
  }

  .rules-checkbox {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
    margin-bottom: 0px;

    .modal-rules-checkbox {
      width: 15px;
      margin-left: 0px;
    }
    .modal-rules-checkbox-text {
      align-self: start;
    }
  }

  .modal-confirm-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .btn:not(.btn-icon):not(.btn-hyperlink) {
    margin-left: auto;
    margin-right: auto;
    // width: 100%;
  }

  .modal-help-button {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
    margin-bottom: 44px;
  }

  .modal-opt-out-checkbox {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }
}
