$desktop-margin: 56px;
$mobile-margin: 24px;

// .width-472 .modal-dialog.right {
//   // border: 1px solid rgb(0, 0, 0);
//   @include mx-width(100%, 472px, 472px);
//   @include mx-max-width(100%, 472px, 472px);
// }

.width-664 .modal-dialog.right {
  // border: 1px solid rgb(0, 0, 0);
  @include mx-width(100%, 664px, 664px);
  @include mx-max-width(100%, 664px, 664px);
}

.modal-header {
  // border: 1px solid rgb(92, 91, 91);
}

.modal-logo {
  // border: 1px solid red;
  margin-top: $desktop-margin;
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  width: 193px;
  height: 24px;
}
.modal-title {
  // border: 1px solid rgb(236, 222, 19);
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  margin-top: 16px;
}
.modal-html-content {
  // border: 1px solid rgb(61, 231, 19);
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  margin-top: 16px;
}

.modal-cards {
  // border: 1px solid rgb(9, 108, 221);
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  margin-top: 48px;
  display: inline-flex;
  //   justify-content: space-between;
  width: auto;
}

.rules-checkbox {
  // border: 1px solid rgb(182, 13, 233);
  display: flex;
  flex-direction: row;
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  margin-top: 36px;
  padding-right: 20px;
  .modal-rules-checkbox {
    width: 15px;
    margin-left: 24px;
  }
  .modal-rules-checkbox-text {
    align-self: center;
  }
}

.modal-confirm-button {
  // border: 1px solid rgb(34, 8, 18);
  margin-left: $desktop-margin;
  background-color: $shadow-level-100;
  margin-top: 60px;
}

// criar uma class para cada opção de cores
.color-product-club {
  color: $color-white100;
  background-color: $color-product-club;
  border-color: $color-product-club;
  &:hover:not(:disabled):not(.smls-btn-loading) {
    background-color: $color-black100;
    color: $color-white100;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: red;
    color: $color-black100;
  }
}

.modal-help-button {
  // border: 1px solid rgb(118, 146, 121);
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  margin-top: 43px;
}

.modal-opt-out-checkbox {
  // border: 1px solid rgb(67, 101, 145);
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  margin-top: 60px;
  margin-bottom: 60px;
}

.promotional-card {
  // border: 1px solid rgb(255, 255, 255);
  width: 264px;
  height: 336px;
  border-radius: 16px;
  //   background-color: #b8c0ec;
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
  background-size: 264px 336px;
  margin-right: 24px;
}

.card-image {
  //   background: transparent;
  position: relative;
}

.card-wrapper {
  // border: 1px solid rgb(0, 0, 0);
  //   margin-right: 24px;
  //   margin-top: 24px;
  //   margin-bottom: 24px;
  //   margin-left: 24px;
  height: 288px;
  width: 216px;
  display: grid;
  grid-template-rows: 5fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'card-icon card-promotion'
    'card-origin card-origin'
    'card-destiny card-destiny'
    'card-text card-text'
    'card-price card-price';

  span {
    color: rgb(255, 255, 255);
  }
}

.card-icon {
  //   // border: 1px solid rgb(46, 255, 9);
  grid-area: card-icon;
  width: 36px;
  height: 36px;
  justify-self: start;
}
.card-promotion {
  width: 87px;
  height: 40px;
  border-radius: 8px;
  background-color: #663399;
  color: rgb(255, 255, 255);
  grid-area: card-promotion;
  font-family: Nunito;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 6px;
  justify-self: end;
}
.card-origin {
  grid-area: card-origin;
  //   // border: 1px solid rgb(25, 9, 255);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  align-self: start;
}
.card-destiny {
  grid-area: card-destiny;
  //   // border: 1px solid rgb(157, 9, 255);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  align-self: start;
}
.card-text {
  grid-area: card-text;
  //   // border: 1px solid rgb(239, 255, 9);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  align-self: end;
}
.card-price {
  grid-area: card-price;
  //   // border: 1px solid rgb(255, 9, 42);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
  align-self: end;
}






























@media (max-width: $bkpoint-tablet) {
  .modal .modal-dialog.right {
    @include mx-width(100%, 992px, 992px);
    @include mx-max-width(100%, 992px, 992px);
  }

  .modal-logo {
    margin-top: $mobile-margin;
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }
  .modal-title {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }
  .modal-html-content {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
    margin-top: 16px;
  }

  .modal-cards {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }

  .rules-checkbox {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
    margin-top: 44px;
    padding-right: 20px;
    .modal-rules-checkbox {
      width: 15px;
      margin-left: 24px;
    }
    .modal-rules-checkbox-text {
      align-self: center;
    }
  }

  .modal-confirm-button {
    // border: 1px solid rgb(34, 8, 18);
    margin-left: $mobile-margin;
    background-color: $shadow-level-100;
    margin-top: 76px;
  }

  // criar uma class para cada opção de cores
  .color-product-club {
    color: $color-white100;
    background-color: $color-product-club;
    border-color: $color-product-club;
    &:hover:not(:disabled):not(.smls-btn-loading) {
      background-color: $color-black100;
      color: $color-white100;
    }
    &:not(:disabled):not(.disabled):active {
      background-color: red;
      color: $color-black100;
    }
  }

  .modal-help-button {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
    margin-top: 43px;
  }

  .modal-opt-out-checkbox {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
