.auth0-wrapper .response-modal {
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding: 40px 56px 0px;

  h4 {
    color: $color-black80;
    margin-bottom: 24px;
    font-size: 24px;
  }
  p {
    color: $color-black60;
    text-align: left;
  }
  p.description {
    margin-top: 8px;
  }
  button {
    margin-top: 64px;
  }

  @media (max-width: $bkpoint-tablet) {
    padding: 24px 24px 0px;
    .btn {
      width: 100%;
      margin-top: 94px;
    }
    h4 {
      margin-bottom: 16px;
    }
  }
}
