@keyframes showModal {
  0% {
    transform: translateX(30vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

body,
html {
  &.modal-opened {
    overflow: hidden;
  }
}

.container-box {
  height: 100% !important;
  width: 100% !important;
  &.card {
    .title {
      color: $color-black88;
      font-family: $boldFontFamily;
    }
  }

  margin-bottom: 0 !important;
}

.sml-toast {
  position: fixed;
  top: 60%;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;

  &-transparent {
    background-color: transparent;
  }

  @media (max-width: 425px) {
    top: auto;
    bottom: 0;
  }

  &-simple {
    &-wrapper {
      top: 100px;
      left: 0;
      z-index: 10;
      width: 100%;
      position: absolute;
      background-color: $white;

      @media (min-width: 768px) {
        margin-left: -132px;
        border-radius: 16px;

        &.smiles-toast-container {
          top: -1%;
          left: 78% !important;
          width: 360px;
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.12);
        }
      }

      @media (max-width: 768px) {
        &.smiles-toast-container {
          top: 38%;
          width: 100%;
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.12);

          &.on-iphone {
            & .card {
              padding: 25px 25px 150px 25px;
            }
          }

          @media (max-width: 425px) {
            box-shadow: initial;
            bottom: 0;
            top: initial;
            height: fit-content;

            & .card {
              align-items: normal;
              padding: 25px;
              border-radius: initial;
              border: initial;
            }
          }
        }
      }
    }
  }

  &-container {
    flex: 1;
    width: 100%;
    padding: 40px 56px;
    padding-left: 24px;
  }
}
