<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

  <meta name="description" content="">

  <link rel="icon" href="/images/favicon.ico">

  <title>{{ headerTitle }} | Smiles</title>

  <link class="lfr-css-file" href="https://www.smiles.com.br/smiles-theme/css/aui.css?browserId=firefox&themeId=smiles_WAR_smilestheme&minifierType=css&languageId=pt_BR&b=6210&t=1599021720000" rel="stylesheet" type="text/css" />
  <link href="/html/css/main.css?browserId=firefox&themeId=smiles_WAR_smilestheme&minifierType=css&languageId=pt_BR&b=6210&t=1441805640000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/html/portlet/journal_content/css/main.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599595045000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/html/portlet/asset_publisher/css/main.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599595045000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/smiles-react-portlet/static/css/swiper-4.5.0.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1596135746000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/smiles-booking-portlet/css/FlightSearchPortlet.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599023466000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/smiles-booking-portlet/css/slick-theme.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599023466000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/smiles-booking-portlet/css/busca.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599023466000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/smiles-booking-portlet/css/aba-busca-carros.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599023466000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/html/portlet/document_library/css/main.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599595045000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/html/portlet/dynamic_data_mapping/css/main.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599595045000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/html/portlet/journal/css/main.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599595045000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/html/portlet/login/css/main.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599595045000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/smiles-sidebar-portlet/css/UserHelp.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1596135746000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/smiles-sidebar-portlet/css/main.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1596135746000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/notifications-portlet/notifications/css/main.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599594295000" rel="stylesheet" type="text/css" />
  <link href="https://www.smiles.com.br/liferay-content-service-portlet/css/main.css?browserId=firefox&amp;themeId=smiles_WAR_smilestheme&amp;minifierType=css&amp;languageId=pt_BR&amp;b=6210&amp;t=1599594295000" rel="stylesheet" type="text/css" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/smls-base-theme.min.css" media="all" async>
  <link rel="stylesheet" href="/css/smls-components.min.css" media="all" async>
  <link rel="stylesheet" href="/css/smls-register.min.css" media="all" async>
  <link rel="stylesheet" href="/css/smls-login.min.css" media="all" async>
  <link rel="stylesheet" href="/css/smls-portal-central.min.css" media="all" async>
  <link rel="stylesheet" href="/css/smls-portal-contract.min.css" media="all" async>
  <link rel="stylesheet" href="/css/smls-portal-header.min.css" media="all" async>
  <link rel="stylesheet" href="/css/smls-my-account.min.css" media="all" async>
  <link rel="stylesheet" href="/css/smls-cobranded-legacy.min.css" media="all" async>
  <link rel="stylesheet" href="/css/smls-extraRevenue.min.css" media="all" async>
</head>

<body>

  <header class="container">
  </header>

  <main role="main">
    {{contents | raw}}
  </main>

  <footer class="container">
  </footer>

  <!-- JS -->
  <script>
    // The debounce function receives our function as a parameter
    const debounce = (fn) => {

      // This holds the requestAnimationFrame reference, so we can cancel it if we wish
      let frame;

      // The debounce function returns a new function that can receive a variable number of arguments
      return (...params) => {

        // If the frame variable has been defined, clear it now, and queue for next frame
        if (frame) {
          cancelAnimationFrame(frame);
        }

        // Queue our function call for the next frame
        frame = requestAnimationFrame(() => {

          // Call our function and pass any params we received
          fn(...params);
        });

      }
    };


    // Reads out the scroll position and stores it in the data attribute
    // so we can use it in our stylesheets
    const storeScroll = () => {
      // document.documentElement.dataset.scroll = window.scrollY;
      let scroll = document.getElementById('modal-scroll').scrollTop;
      // if (scroll < 24) scroll = 0;
      document.documentElement.dataset.scroll_modal = scroll;
    }

    // Listen for new scroll events, here we debounce our `storeScroll` function
    // document.addEventListener('scroll', debounce(storeScroll), { passive: true });
    document.getElementById('modal-scroll').addEventListener('scroll', debounce(storeScroll), { passive: true });

    // Update scroll position for first time
    storeScroll();
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>