.smls-register {
  .smls-register-confirm-password {
    .btn-hyperlink {
      display: none;
      width: auto;
      padding-left: 0;
      padding-right: 0;
      margin-top: 80px;
      font-family: $boldFontFamily;
    }

    .valid-password {
      .btn-primary {
        margin-top: 80px;
      }
    }
    .invalid-password {
      .btn-hyperlink {
        display: block;
        padding: 0;
        margin-top: 40px;
      }
    }

    .btn-primary {
      margin-top: 80px;
      width: 100%;
    }

    @media (min-width: $bkpoint-tablet) {
      .btn-primary {
        margin-top: 80px;
        max-width: 264px;
      }

      .invalid-password {

        .btn-hyperlink {
          display: block;
          padding: 0;
          margin-top: 100px;
        }
      }
    }
  }
}
