.smls-register {
  .smls-register-password {
    .smls-row {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 49px;
      padding: 0;

      .btn-primary {
        width: 100%;
        display: none;
      }

      .btn-hyperlink {
        margin-top: 36px;
      }

      @media (min-width: $bkpoint-tablet) {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0;

        .btn-primary {
          min-width: 264px;
          width: auto;
          display: block;
        }

        .btn-hyperlink {
          min-width: auto;
          width: auto;
          margin-top: 0;
        }
      }
      &.valid-password {
        .btn-primary {
          display: block;
        }

        .btn-hyperlink {
          display: none;
        }
      }

      &.invalid-password {
        display: flex;
        align-items: flex-start;
      }

      @media (min-width: $bkpoint-tablet) {
        &.valid-password {
          .btn-hyperlink {
            display: block;
          }
        }

        &.invalid-password {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
      }
    }

    .btn-hyperlink {
      width: auto;
      padding-left: 0;
      padding-right: 0;
      font-family: $boldFontFamily;
    }

    @media (min-width: $bkpoint-tablet) {
      &.invalid-password {
        margin-top: 8px;
      }

      .btn-hyperlink {
        margin: 0 0 0 auto;
      }
      &.valid-password {
        .btn-hyperlink {
          display: block;
        }
      }
    }
    .input-group {
      margin-bottom: 16px;
    }
  }
  > div.smls-content > div.modal-password.modal {
    h4 {
      margin: 0 0 16px 0;
      font-size: 24px;
      line-height: 32px;
    }

    ul {
      padding-left: 16px;
      margin-bottom: 136px;
      li {
        color: $color-black60;
      }
      @media (min-width: $bkpoint-tablet) {
        padding-left: 20px;
        padding-right: 4px;
        margin-bottom: 65px;
      }
    }

    .btn-primary {
      margin: 65px 0 0 0;
      width: 100%;
    }
    @media (min-width: $bkpoint-tablet) {
      h4 {
        margin: 0 0 31px 0;
      }

      li:not(:last-child) {
        margin-bottom: 24px;
      }

      .btn-primary {
        margin-left: 0;
      }
    }
  }
}
