.smls-register {
	&.register-phone {
    .btn-primary {
      width: 100%;
      margin-top: 80px;
    }
    .input-contact {
      label {
        display: none;
      }
    }
    @media (min-width: $bkpoint-tablet) {
      .btn-primary {
        width: auto;
      }
    }
	}
}