//Fontes
@font-face {
  font-family: 'NunitoRegular';
  src: url(../fonts/Nunito/Nunito-Regular.ttf?v=20210512) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'NunitoBold';
  src: url(../fonts/Nunito/Nunito-Bold.ttf?v=20210512) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'NunitoLight';
  src: url(../fonts/Nunito/Nunito-Light.ttf?v=20210512) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSemiBold';
  src: url(../fonts/Nunito/Nunito-SemiBold.ttf?v=20210512) format('truetype');
  font-display: swap;
}