:root {
  --smls-hf-primary: #FF7020;
  --smls-hf-white: #FFFFFF;
  --smls-hf-white95: #F2F2F2;
  --smls-hf-white60: #999999;
  --smls-hf-black: #000000;
  --smls-hf-black-border: #0000004d;
  --smls-hf-black80: #333333;
  --smls-hf-black95: #0f0f0e;
  --smls-hf-black60: #666666;
  --smls-hf-black60-border: #66666640;
  --smls-hf-blackout: rgba(0, 0, 0, 0.6);
  --smls-hf-transparent: transparent;
}
