.smls-central {
  .smls-content {
    padding-top: 72px;
    display: flex;
    justify-content: space-around;

    .smls-central-header {
      font-size: 1.5rem;
      line-height: 2rem;
      padding: 0 6.45%;
      margin: 0;
      max-width: 268px;

      @media (min-width: $bkpoint-tablet) {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 40px;
        max-width: 360px;
        padding: 0 24px;
        margin-top: 44px;
      }
    }

    .smls-image {
      width: 360px;
      min-width: 360px;
      height: 360px;
      margin-left: 12.26%;
      margin-right: 9.67%;
      display: none;

      @media (min-width: $bkpoint-tablet) {
        display: initial;
      }
    }

    .smls-column {
      width: 100%;
      padding-right: 6.45%;

      .smls-list-range:not(.readonly) {
        &:hover {
          border: 2px $primary solid;
          background-color: inherit;
        }
      }
    }
  }
}
